/* .main_header{ */
	/* background: #fff; */
    /* position: fixed; */
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* z-index: 1030; */
    /* box-shadow: 0 0 8px 0 rgba(0,0,0,.2); */
	/* border-top:2px solid #9C3; */
     /* height:90px;  */
/* } */
/* #main-menu .nav-link.active1 { */
    /* color: #9C3; */
/* } */
/* .nav-link.active1::after { */
  /* content: ""; */
    /* position: absolute; */
    /* top: -10%; */
    /* left: 40%; */
    /* border-width: 8px; */
    /* border-style: solid; */
    /* border-color: #9C3 transparent transparent transparent; */
/* } */
/* .main_carousel img{ */
       /* height:400px;	 */
	   /* width:100%; */
/* } */
/* #carousel-area{ */
	/* margin-top:90px; */
/* } */
.ken_logo{
	text-align:center;
}
.ken_logo_text h1{
	padding-top: 13px;
    font-family: sans-serif !important;
	    font-weight: bold;
}
.ken_logo_text p{
	    padding-left: 8px;
    margin-top: -10px;
    font-weight: bold;
}
/* .navbar-toggleable-sm .navbar-collapse{ */
	/* width:95%; */
/* } */
.main_nav{
	background-color:#000;
}
.login_tab{
	background-color:#9C3;
}
 .main_carousel img{ 
        height:400px;
	   width:100%;
 }
  /* #carousel-area{ */
	 /* margin-top:9px; */
	/* } */
	
	
.contact_details{
	padding-top:10px;
}	
.contact_mail span, .contact_phone span{
	color:#0078a0;
	cursor: pointer;
}
.contact_mail span i, .contact_phone span i{
	padding-right:10px;
}
.login_button{
	background-color:#0078a0;
	color:#fff;
    margin-top: 10px;
}
/* .navigation{ */
	/* padding-top:10px; */
/* } */
.main_logo{
	padding-top:12px;
}
.main-header{
	-webkit-box-shadow: 0px 2px 2px #CCC;
    -moz-box-shadow: 0px 2px 2px #CCC;
    box-shadow: 0px 3px 5px #CCC;
	background-color:#fff;
}
.footer_first_text h3{
	    color: #0078a0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.footer_first_text p{
	    color: #fff;
   
}
.social-footer{
	text-align:center;
}
.footer_enrol{
	text-align:center;
}
.footer_enrol li{
               border-bottom: 1px solid #fff;
    padding: 7PX;
}
.footer_enrol li a{
	font-weight:bold;
}
.about_titles h3{
	 color: #0078a0;
	 width:100%;
}
.about_titles p{
	
	 width:100%;
}
.student_login_title{
	 color: #0078a0;
	 font-weight:bold;
}


/* ---------------------- */
/*       TESTIMONIAL      */
/* ---------------------- */
.parallax-section{
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
/* #testimonial{ */
	/* padding: 130px 0 95px; */
	/* background-image: url(../images/bg-testimonial.jpg); */
/* } */
/* #testimonial .overlay{ */
	/* background: rgba(221,87,128,0.8); */
/* } */
.ts-testimonial-slide{
	text-align: center;
	/* color: #ffffff; */
	width: 85%;
	margin: 0 auto;
    padding-top: 20px;
}
.ts-testimonial-slide p{
	font-size: 24px;
	line-height: 36px;
	font-style: italic;
	font-family: 'Droid Serif';
	margin-bottom: 35px;
}
.ts-testimonial-slide .ts-testimonial-item {
  margin-bottom: 15px;
}
.ts-testimonial-slide .ts-testimonial-item .icon-client{
	background: #ffffff;
	width: 29px;
	height: 29px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	float: left;
	text-align: center;
	line-height: 29px;
	margin-top: 2px;
}
.ts-testimonial-slide .ts-testimonial-item .infor-client {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}
.ts-testimonial-slide .ts-testimonial-item  .client-name{
	color: #ff3535;
	padding-left: 38px;
	font-size: 12.8px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Montserrat';
	display: block;
	line-height: normal;
	white-space: nowrap;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position{
	font-size: 12px;
	font-style: italic;
	line-height: normal;
	padding-left: 38px;
	display: block;
	text-align: left;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a{
	color: white;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a:hover{
	color: #5ed9e7;
}
.text_monials{
	    background: #FFFFFF;
    padding: 20px 1% 20px 1%;
    border: 1px #DDD solid;
    -webkit-box-shadow: 0px 0 15px #DDD;
    -moz-box-shadow: 0px 0 15px #DDD;
    box-shadow: 0px 0 15px #DDD;
}
.clickable div{
	display:none;
}
.text_monials_head{
	    color: #ff3535;
    font-weight: bold;
}





